{% extends 'base.html' %}
{% block content %}
<div class="form-container">
    <h2>Cadastro</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
  <div class="mb-3">
    {{ field.label_tag }} {{ field }}
    {% if field.errors and request.method == 'POST' %}
      <div class="text-danger">{{ field.errors|striptags }}</div>
    {% endif %}
  </div>
{% endfor %}

        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>
{% endblock %}