{% extends 'base.html' %}
{% block content %}
<div class="form-container">
    <h2>Minhas Consultas</h2>
    {% if consultas %}
        <ul class="list-group">
        {% for consulta in consultas %}
            <li class="list-group-item text-dark">
                {{ consulta.data }} - {{ consulta.hora }}<br>
                Descrição: {{ consulta.descricao }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Você ainda não possui consultas agendadas.</p>
    {% endif %}
</div>
{% endblock %}